@{
    ViewBag.Title = "FollowUs";
}
    
<div class="followus">
    <div class="followus_title">
        <strong>Síguenos en:</strong>   
     </div>       
     <div class="followus_item">
        <a href="http://wwww.bicicletasdesnivell.com"><img src="../../Content/Images/icons/icon-facebook.png" /></a>
     </div>
     <div class="followus_item">
        <a href="http://wwww.bicicletasdesnivell.com""><img src="../../Content/Images/icons/icon-twitter.png" /></a>
     </div>
     <div class="followus_item">
        <a href="http://wwww.bicicletasdesnivell.com""><img src="../../Content/Images/icons/icon-youtube.png" /></a>
     </div>         
</div>
    